/* Global */
/* beige, terracotta, and olive */
body {
  /* background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(226, 114, 91, 1) 50%,
    rgba(245, 245, 220, 1) 100%
  ); */
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(253, 171, 155) 0%,
    rgba(226, 114, 91, 1) 50%,
    rgb(131, 31, 11) 100%
  );
}

/* Blog */
.blog {
  color: beige;
}
.blog-title {
  font-family: "Lobster", cursive;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 50px;
}

.blog-subtitle {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 50px;
}
.blog-search {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
input[type="search"] {
  background-color: #f8f8f8;
  border: none;
  border-radius: 20px;
  color: #333;
  font-size: 16px;
  padding: 10px 20px;
  width: 300px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-image: url("search.png");
  background-position: 95% 50%;
  background-repeat: no-repeat;
  background-size: 30px;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input[type="search"]::placeholder {
  color: #999;
}

input[type="search"]:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Allposts */

.allposts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.allposts-card {
  width: 300px;
  height: 200px;
  margin: 10px;
  position: relative;
  overflow: hidden;
}

.allposts-card:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3), 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.allposts-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.allposts-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: rgb(128, 128, 0);
  background: linear-gradient(
    90deg,
    rgba(128, 128, 0, 1) 20%,
    rgba(226, 114, 91, 1) 100%
  );
  color: beige;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: left;
  /* opacity: 0;
  transition: opacity 0.3s ease-in-out; */
}

.allposts-card:hover .allposts-title {
  opacity: 1;
}

/* OnePost */
.onepost {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  min-height: 40vh;
  color: rgb(255, 255, 255);
}

.onepost-ctn {
  max-width: 800px;

  padding: 20px;
  /* background: rgb(121, 121, 50);
  background: linear-gradient(
    315deg,
    rgba(121, 121, 50, 1) 46%,
    rgba(156, 93, 93, 1) 88%
  ); */

  border-style: solid;
  border-width: thin;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.onepost-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0px;
  color: beige;
}

.onepost-body {
  font-family: "Josefin", sans-serif;
  font-weight: 300;

  word-break: break-all;
}

/* Author */
.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 16px;
  width: 1000px;
  margin: 50px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: rgb(255, 255, 255);
}

.author-img {
  display: block; /* This ensures that the margin-left and margin-right auto properties work */
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.author-info {
  flex-basis: calc(100% - 96px);
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.author-name {
  font-family: "Lobster", cursive;
  margin: 0 0 8px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.author-bio {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, #e2725b);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-zp9dbg 1s infinite linear;
}

@keyframes spinner-zp9dbg {
  to {
    transform: rotate(1turn);
  }
}
/* Media Queries */

/* For screens with max-width of 768px */
@media only screen and (max-width: 768px) {
  .onepost-ctn {
    max-width: 80%;
  }
  .blog-title {
    font-size: 2rem;
    margin-top: 30px;
  }

  .blog-subtitle {
    font-size: 1rem;
    margin-bottom: 30px;
  }

  .allposts-card {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }

  .allposts-title {
    font-size: 1rem;
  }

  .card {
    width: 90%;
  }
}

/* For screens with max-width of 480px */
@media only screen and (max-width: 480px) {
  .blog-title {
    font-size: 1.5rem;
    margin-top: 20px;
  }

  .blog-subtitle {
    font-size: 0.8rem;
    margin-bottom: 20px;
  }

  .allposts-card {
    width: 80%;
    height: auto;
    margin: 10px 0;
  }

  .allposts-title {
    font-size: 0.8rem;
  }

  .onepost-ctn {
    max-width: 80%;
  }

  .card {
    width: 80%;
  }
}
